# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env

# AWS
*.pem
gift_accessKeys.csv

# Results
results/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db